
body {
    background: url("/static/images/background.png") no-repeat center ;
    background-size: cover;
    image-rendering: pixelated;
}
h1 {
    color: black;
    font-family: 'PixelFontCustom', sans-serif;
    margin: 0;
    margin-top: 4vh;

}
p{
    color: black;
    font-family: 'PixelFontCustom', sans-serif;
    margin: 0;
}
.min-text{
    font-size: 0.6em;
    color: black;
    font-family: 'PixelFontCustom', sans-serif;
    margin: 0;
}


.bubul-container {
    position: relative;
    margin-top: 5vh;


}

.bubul {
    display: block;
    width: 900px;
    height: auto;
    margin: 0;
    image-rendering: pixelated;

}

.bubul-text {
    position: absolute;
    bottom: 70px;
    right: 100px;
    left: 100px;
    width: 45vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    pointer-events: none;
}


.bubul-container2 {
    position: relative;
    margin: 5vh 0 5vh auto;
    width: fit-content;
}

.bubul-text2 {
    position: absolute;
    bottom: 70px;
    left:70px;
    width: 45vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    pointer-events: none;
}
.bubul3text{

    font-size: 0.9em;

}
#sprite-container > img {
    width: 500px;
    height: auto;
    image-rendering: pixelated;
    margin-top: 4vh;
    margin-left: 6vw;
    display: flex;
}
#cow-container > img {
    width: 500px;
    height: auto;
    image-rendering: pixelated;
    margin-top: 5vh;
    margin-right: 7vw;
    display: flex;
}


.spritebubul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#image-tree{
    margin-right: 10vw;

}
.tree-image{
    width: 300px;
    height: auto;
    image-rendering: pixelated;
    margin-top: 4vh;
    margin-left: 6vw;
}


@media (max-width: 1500px) {
    #sprite-container{
        display: none;
    }
    .tree-image{
        display: none;
    }
    #cow-container > img {
        display: none;
    }


}


@media (min-width: 1178px) {

    .bubul-text{
        width:60vw;
    }
    .bubul-text2{
        width: 60vw;
    }
}
@media (max-width: 1178px) {

    .bubul-text{
        width: 70vw;
    }
    .bubul-text2{
        width: 70vw;
    }
}
@media (min-width: 1370px) {

    .bubul-text{
        width:65vw;
    }
    .bubul-text2{
        width: 50vw;
    }
}
@media (min-width: 1600px) {

    .bubul-text{
        width:45vw;
    }
    .bubul-text2{
        width: 45vw;
    }
}
@media (min-width: 1800px) {

    .bubul-text{
        width:40vw;
    }
    .bubul-text2{
        width: 40vw;
    }
}
@media (min-width: 2060px) {

    .bubul-text{
        width:30vw;
    }
    .bubul-text2{
        width: 30vw;
    }
}
@media (min-width: 2745px) {

    .bubul-text{
        width:25vw;
    }
    .bubul-text2{
        width: 25vw;
    }
}

@media (min-width: 1370px) and (max-width: 1600px) {

    .bubul-text{
        width:45vw;
    }

}