@font-face {
    font-family: 'PixelFontCustom';
    src: url('/static/font/font.ttf') format('truetype');
}
*{
    cursor: url('/static/images/cursor1.png') , pointer ;

}
a{
    cursor: url("/static/images/hand.png"), pointer;
}