

body {
    background: url("/static/images/background.png") no-repeat center ;
    background-size: 100% auto;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'PixelFontCustom', sans-serif;

}