{{define "about"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">

    <link rel="stylesheet" href="/static/css/about.css">
</head>
{{template "header" .}}
<body>
<div class="spritebubul">

<div class="bubul-container">
    <img src="/static/images/bubul.png" alt="About Button" class="bubul">
    <div class="bubul-text">
        <h1>What ? </h1>
        <br>
        <p>There is two part in this porfolio :</p>
        <p>1. The Game</p>
        <p class="min-text">A point and click game where you have to walk around to find the houses that match the projects. </p>
        <p>2. The "basic" portfolio</p>
        <p class="min-text">more basic, with a direct list of projects without going through the game. </p>
    </div>

</div> <div id="image-tree">
    <img src="/static/images/Apple_Tree.png" alt="Tree Image" class="tree-image">
</div>
</div>





<div class="spritebubul">
<div id="sprite-container"></div>
<div class="bubul-container2">
    <img src="/static/images/bubul2.png" alt="About Button" class="bubul">
    <div class="bubul-text2">
        <h1>Why ? </h1>
        <br>
        <p>I wanted to do something different, something that reflects who I am.</p>
        <p>I like video games, the style is based on games like stardew valley. </p>
        <br>
        <p></p>
        <p class="min-text">I like to make a lot of projects it make me happy :)   </p>
    </div>
</div>
</div>



<div class="spritebubul">
<div class="bubul-container">
    <img src="/static/images/bubul.png" alt="About Button" class="bubul">
    <div class="bubul-text">
        <h1>How to play ? </h1>
        <br>
        <p class="bubul3text">A point and click game is a game like League of Legends where your character moves according to your clicks.</p>
        <br>
        <p class="bubul3text">you need to move in the map to find the houses according to projects to have access the corresponding page. </p>
        <br>
        <p class="min-text">no worries it's not rocket science.  </p>
    </div>

</div>
    <div id="cow-container"></div>
</div>

<script src="/static/js/about.js"></script>

</body>

</html>
{{end}}