{{define "credits"}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crédits </title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/credits.css">

</head>
{{template "header" .}}
<body>
<div class="top-page">
    <div class="Big-container">
        <div class="embeds-container">
            <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 79.3651%; padding-top: 120px;">
                <a href="https://kenmi-art.itch.io/cute-fantasy-rpg" data-iframely-url="//iframely.net/5R0uvhAZ?theme=dark">
                </a></div></div><script async src="//iframely.net/embed.js"></script>

            <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 79.3651%; padding-top: 120px;">
                <a href="https://kenmi-art.itch.io/cute-fantasy-ui" data-iframely-url="//iframely.net/s5yZUl0j?theme=dark"></a>
            </div></div><script async src="//iframely.net/embed.js"></script>
        </div>

        <div class="text-container">
            <h3 class="title">All assets used in this portfolio are from the assets pack Cute Fantasy.</h3>
            <p class="paragraph">License / Premium Version</p>
            <p class="paragraph">- You can use these assets in any commercial or non-commercial projects.</p>
            <p class="paragraph">- You can modify the assets.</p>
            <p class="paragraph">- You can not redistribute or resale, even if modified</p>
        </div>
    </div>
</div>

<div class="Small-container">
    <div class="Small">
        <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;">
            <a href="https://kenmi-art.itch.io/cute-fantasy-rpg" data-iframely-url="//iframely.net/5R0uvhAZ?card=small&theme=dark"></a>
        </div></div><script async src="//iframely.net/embed.js"></script>
    </div>

    <div class="Small">
        <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;">
            <a href="https://kenmi-art.itch.io/cute-fantasy-ui" data-iframely-url="//iframely.net/s5yZUl0j?card=small&theme=dark"></a>
        </div></div><script async src="//iframely.net/embed.js"></script>
    </div>

    <div class="text-container">
        <h3 class="title">All assets used in this portfolio are from the assets pack Cute Fantasy.</h3>
        <p class="paragraph">License / Premium Version</p>
        <p class="paragraph">- You can use these assets in any commercial or non-commercial projects.</p>
        <p class="paragraph">- You can modify the assets.</p>
        <p class="paragraph">- You can not redistribute or resale, even if modified</p>
    </div>
</div>

<div class="bottom-page">
    <h3 class="title">Languages used :</h3>
    <div class="carousel-container">
        <div class="carousel-track">
            <div class="language-card" data-name="Go">
                <img src="/static/images/go-logo.png" alt="Go">
                <span>Golang</span>
            </div>
            <div class="language-card" data-name="HTML">
                <img src="/static/images/html-logo.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div class="language-card" data-name="CSS">
                <img src="/static/images/css-logo.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div class="language-card"  data-name="JavaScript" >
                <img id="javaScriptlogo" src="/static/images/js-logo.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>

        </div>
    </div>
</div>

<script>
    let currentIndex = 1;
    const cards = document.querySelectorAll('.language-card');
    const totalCards = cards.length;

    function updateCarousel() {
        cards.forEach((card, index) => {
            card.classList.remove('left', 'center', 'right');

            const leftIndex = (currentIndex - 1 + totalCards) % totalCards;
            const rightIndex = (currentIndex + 1) % totalCards;

            if (index === leftIndex) {
                card.classList.add('left');
            } else if (index === currentIndex) {
                card.classList.add('center');
            } else if (index === rightIndex) {
                card.classList.add('right');
            }
        });
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalCards;
        updateCarousel();
    }

    updateCarousel();
    setInterval(nextSlide, 3000);
</script>

</body>
</html>
{{end}}