{{define "credits"}}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crédits </title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/credits.css">

</head>
{{template "header" .}}
<body>
<div class="top-page">
    <div class="Big-container">
        <div class="embeds-container">
            <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 79.3651%; padding-top: 120px;">
                <a href="https://kenmi-art.itch.io/cute-fantasy-rpg" data-iframely-url="//iframely.net/5R0uvhAZ?theme=dark">
                </a></div></div><script async src="//iframely.net/embed.js"></script>

            <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 79.3651%; padding-top: 120px;">
                <a href="https://kenmi-art.itch.io/cute-fantasy-ui" data-iframely-url="//iframely.net/s5yZUl0j?theme=dark"></a>
            </div></div><script async src="//iframely.net/embed.js"></script>
        </div>

        <div class="text-container">
            <h3 class="title">All assets used in this portfolio are from the assets pack Cute Fantasy.</h3>
            <p class="paragraph">License / Premium Version</p>
            <p class="paragraph">- You can use these assets in any commercial or non-commercial projects.</p>
            <p class="paragraph">- You can modify the assets.</p>
            <p class="paragraph">- You can not redistribute or resale, even if modified</p>
        </div>
    </div>
</div>

<div class="Small-container">
    <div class="Small">
        <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;">
            <a href="https://kenmi-art.itch.io/cute-fantasy-rpg" data-iframely-url="//iframely.net/5R0uvhAZ?card=small&theme=dark"></a>
        </div></div><script async src="//iframely.net/embed.js"></script>
    </div>

    <div class="Small">
        <div class="iframely-embed"><div class="iframely-responsive" style="height: 140px; padding-bottom: 0;">
            <a href="https://kenmi-art.itch.io/cute-fantasy-ui" data-iframely-url="//iframely.net/s5yZUl0j?card=small&theme=dark"></a>
        </div></div><script async src="//iframely.net/embed.js"></script>
    </div>

    <div class="text-container">
        <h3 class="title">All assets used in this portfolio are from the assets pack Cute Fantasy.</h3>
        <p class="paragraph">License / Premium Version</p>
        <p class="paragraph">- You can use these assets in any commercial or non-commercial projects.</p>
        <p class="paragraph">- You can modify the assets.</p>
        <p class="paragraph">- You can not redistribute or resale, even if modified</p>
    </div>
</div>
<div class="bottom-page">
<h3 class="title">Languages used :</h3>

<p class="paragraph">- Golang.</p>
<p class="paragraph">- HTML.</p>
<p class="paragraph">- css.</p>
<p class="paragraph">- Javascript.</p>
</div>


</body>
</html>
{{end}}