{{define "header"}}
<header>
    <button id="spriteBtn">
        <img id="spriteImg" src="/static/sprites/play_button/green_play1.png" alt="sprite" width="48" height="16"
             style="object-fit: none; object-position: 0px 0px;">

    </button>
</header>
<script>
    const frames = [
        "/static/sprites/play_button/green_play1.png",
        "/static/sprites/play_button/green_play2.png",
        "/static/sprites/play_button/green_play3.png"
    ];
    const frameInterval = 70;
    const redirectDelay = 200;
    let currentFrame = 0;
    let interval;

    document.getElementById("spriteBtn").addEventListener("click", () => {
        currentFrame = 0;
        clearInterval(interval);
        interval = setInterval(() => {
            document.getElementById("spriteImg").src = frames[currentFrame];
            currentFrame++;
            if (currentFrame >= frames.length) {
                clearInterval(interval);
                setTimeout(() => {
                    window.location.href = "/page";
                }, redirectDelay);
            }
        }, frameInterval);
    });
</script>
{{end}}